<body class="Background">
<section class="SignUpForm">
<head>
<br></br>
<h2 class="LogIn">Sign up</h2>
<br></br>

<div class="EmaiLabelName">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
</div>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <span class="EmailLabel">
      <%= f.label :first_name, :class => "form-element" %>
    </span>
    <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", class:"form-control2"%>
  </div>

  <div class="field">
    <span class="EmailLabel3">
      <%= f.label :last_name, :class => "form-element" %>
    </span>
    <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", class:"form-control2"%>
  </div>

  <div class="field">
  <span class="EmailLabel21">
    <%= f.label :email %>
  </span>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control21" %>
  </div>

  <div class="field">
    <span class="EmailLabel41">
      <%= f.label :password %>
    </span>
    <%= f.password_field :password, autocomplete: "new-password", class:"form-control2"%>
      <div class="MiniPassword">
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em> 
      <% end %>
      </div>

  <div class="field">
  <span class="EmailLabel5">
    <%= f.label :password_confirmation %>
  </span>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control3" %>
  </div>
<p>
<br></br>
  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
</p>
<% end %>

<div class="links">
<%= render "devise/shared/links" %>
</div>
</head>
</section>