<body class="Background">
<section class="LogInForm">
<head>
<h2 class="LogIn">Log in</h2>

<div class="EmaiLabelName">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
</div>

  <div class="field2">
<span class="EmailLabel">
      <%= f.label :email%>
</span>
<span class="cheese">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %>
</span>
  </div>

  <div class="field">
  <span class="PasswordLabel">
    <%= f.label :password %>
    </span>
    <%= f.password_field :password, autocomplete: "current-password", class:"form-control" %>
  </div>

  <% if devise_mapping.rememberable? %>

    <div class="field">
    <span class="EmailLabel">
    <%= f.label :remember_me %>
    <span>

      <%= f.check_box :remember_me %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>

<div class="links">
<%= render "devise/shared/links" %>
</div>
</head>
</section>

